.numberTitleDescription {
  display: flex;
  flex-direction: column;
}

.ol{
  padding-left: 17.5px;
  margin: 0;
}

.item{
  margin-bottom: 15px;
}

.header {
  margin-bottom: 2.5px;
  padding-left: 2.5px;
}

.title {
  margin: 0;
  font-size: 15px;
}

.body{
  padding-left: 2.5px;
}

.text{
  margin: 0;
  font-size: 14px;
}