.btn{
    position: relative;
    width: 110px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s all;
    font-weight: 700;
    overflow: hidden;
    border: 0;
    outline: none;
    user-select: none;

    background-color: #eee;
    color: #555;
}

.disabled{
    background-color: #d5d5d5 !important;
    pointer-events: none !important;

    &:hover{
        background-color: #d5d5d5 !important;
    }
}

.primary{
    background: #341671;
    color: white;

    &:hover {
        background-color: #422680;
    }
}

.outline{
    background-color: transparent;
    border: 3px solid #341671;
    color: #341671;

    &:hover {
        background-color: #341671;
        color: #fff;
    }
}

.icon{
    border-radius: 7.5px;
    display: flex;
    background-color: transparent;
    width: max-content;
    height: max-content;
    padding: 5px 7.5px;
    cursor: pointer;
}

.color{
    color: #555;

    &:hover {
        color: #444;
    }
}

.light{
    color: #d5d5d5;

    &:hover {
        color: #c5c5c5;
    }
}

.white{
    color: #fff;

    &:hover {
        color: #e5e5e5;
    }
}

.small{
    font-size: 20px;
    & svg{
        font-size: 20px;
    }
}

.medium{
    font-size: 25px;
    & svg{
        font-size: 25px;
    }
}

.large{
    font-size: 30px;
    & svg{
        font-size: 30px;
    }
}