.mainContainer{
    width: 100%;
    height: calc(100vh - 85px);
}

.container{
    max-width: 1160px;
    height: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}