.inputCover{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.label{
    line-height: 1;
    margin-bottom: 5px;
    font-size: 14px;
}

.input{
    padding: 7.5px 10px;
    outline: none;
    border: 1px solid #555;
    border-radius: 5px;
}